/* =========
   BURBUJA DE DIÁLOGO
   ========= */

.dialog-bubble {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -6px);
    background: #fdfdfd;
    color: #021016;
    border-radius: 4px;
    border: 3px solid #000;
    padding: 6px 10px 4px;
    font-size: 18px;
    max-width: 90%;
    box-shadow: 4px 4px 0 #000;
    display: none;
}

.dialog-bubble::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.dialog-bubble.visible {
    display: block;
}