/* =========
   ENEMIGO + LOGBOOK
   ========= */

.column-right {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#panel-enemigo {
    flex: 1;
    display: flex;
}

.enemigo-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#panel-logbook {
    flex: 0 0 280px;
}

.logbook-header {
    display: flex;
    justify-content: space-between;
}

.log-output {
    padding: 6px 10px 8px;
    height: 100%;
    font-size: 18px;
    overflow-y: auto;
    background: #02070b;
    border-top: 1px solid #000;
}